body {
  background-image: url(../img/opt3.jpg);
  background-color: lightgreen;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0 auto;
  color: white;
}
.ui.vertical.segment {
  background: #324932;
}
.ui.huge.header {
  font-family: "Amatic SC", cursive;
  color: #abad71;
  font-size: 60px;
}

#relative {
  position: relative;
}

#absolute {
  position: absolute;
  top: 0px;
  right: 0px;
}
/* .ui.button{
  height:40%;
} */
#subheader {
  font-family: "Amatic SC", cursive;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

#run-wild-font {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  font-weight: bold;
}

.ui.celled.grid {
  background-color: #8ea594d3;
  border-width: 1px;
  border-style: solid;
  width: 90%;
  border-radius: 0.28571429rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ui.dividing.header {
  font-size: 18px;
}

.ui.vertical.sticky.footer.segment {
  border-top: 1px solid #dddddd;
  color: #abad71;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.ui.fluid.dropdown {
  margin-left: 10px;
  width: 20%;
}

.ui.centered.card {
  background-color: #8ea59483;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 20px;
}

.ui.cards > .card {
  width: 15%;
  padding: 1%;
  padding-bottom: 5%;
  font-size: small;
  margin-top: 40px;
}

.ui.header:last-child {
  margin-top: 10px;
}
.ui.segment {
  background-color: #8ea594;
}

#results-card {
  margin-top: 5px;
}

#weather-icon-lg {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}

#weather-icon-sm {
  width: 50%;
  height: 50%;
}
#weather-header {
  font-size: 30px;
}
#weather-description {
  font-size: medium;
}
#weather-content {
  text-align: center;
}
#trail-header {
  font-size: 25px;
  color: #324932;
}
#trail-description {
  font-size: 15px;
  font-style: normal;
}

/* 
color index
    brown
        #8e6a55
        rgb(142, 106, 85)
    light green
        #abad71
        rgb(171, 173, 113)
    light teal green
        #8ea594
        rgb(142, 165, 148)
    darker green
        #495e4d
        rgb(73, 94, 77)
    dark grey
        #374046
        rgb(55, 64, 70)
 */
