body {
  background-image: url(../img/opt3.jpg);
  background-color: lightgreen;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  min-height: 100vh;
  margin: 0 auto;
  color: white;
}
.ui.vertical.segment {
  background: #324932;
}
.ui.huge.header{
  font-family: 'Amatic SC', cursive;
  color: #abad71;
  font-size: 60px;
}

.ui.celled.grid {
  background-color: #8ea594;
  border-width: 1px;
  border-style: solid;
  opacity: 0.85;
  width: 90%;
  border-radius: .28571429rem;
  margin-right: 20px;
  margin-left: 70px;
  margin-top:20px;
  margin-bottom:20px;
}
.row{
  margin-top:20px;
  margin-bottom:20px;
}

.ui.dividing.header{
  font-size: 18px;
}
/* ----attempt to make items in the form have full opacity ---*/
#main-text { 
  opacity: 1;
  /* margin:10px; */
}

#run-wild-font {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.ui.vertical.sticky.footer.segment {
  border-top: 1px solid #dddddd;
  color: #abad71;
  background-color: 495e4d;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  flex-shrink: none;
}
.ui.button {
  margin-top: 20px;
}
.ui.card {
  background-color: #8ea594;
  box-shadow: none;
  padding: 20px;

}
.ui.cards>.card{
  width:15%;
  padding:20px;
  background-color:  #fafafa;
  font-size: small;
  
}


.ui.header:last-child {
  margin-top: 10px;
}
.ui.segment {
  background-color: #8ea594;
}
.ui.segment:last-child {
  margin-top: 5px;
}

#weather-icon {
  width: 30%;
  height: 30%;
}
#weather-header {
font-size: 20px;
}
#weather-description {
font-size: medium;
}
#trail-header {
  font-size: 25px;
  color: #324932;
}
#trail-description {
  font-size: 15px;
  font-style: normal;
}

/* 
color index
    brown
        #8e6a55
        rgb(142, 106, 85)
    light green
        #abad71
        rgb(171, 173, 113)
    light teal green
        #8ea594
        rgb(142, 165, 148)
    darker green
        #495e4d
        rgb(73, 94, 77)
    dark grey
        #374046
        rgb(55, 64, 70)
 */